# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/datasets/*
!data/datasets/.gitignore
storage/
_minio_data/

# MLflow
mlflow.db
mlruns/

# DVC cache (если появится)
.dvc/cache/

# OS
.DS_Store

# local junk
-H
-d
hw2
app.log
mlflow.db
storage/
_minio_data/
